body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.button-group button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task {
    background-color: green;
    color: white;
}

#clear-list {
    background-color: red;
    color: white;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
